{% extends 'baseLogged.html.twig' %}

{% block body %}
    <h1>Informations of {{ customer.firstName }} {{ customer.name }}</h1>
    <p>Name : {{ customer.name }}</p>
    <p>Firstname : {{ customer.firstName }}</p>
    <p>Email :
    {% if customer.email %}
        {{ customer.email }}
    {% else %}
        Unknow
    {% endif %}
    </p>
    <p>Phone number : {% if customer.phoneNumber %}
            {{ customer.phoneNumber }}
        {% else %}
            Unknow
        {% endif %}
    </p>
    <a href="{{ path('app_edit_customer', { id : customer.id }) }}">Edit</a>
    <h1>Note</h1>
    {% if note == null %}
        <p>Any note</p>
    {% else %}
        <p><b>{{ note.date|date('Y-m-d H:i:s') }}</b></p>
        <p>{{ note.text }}</p>
        <a href="{{ path('app_notes', { id : customer.id }) }}">All notes</a>
    {% endif %}
    <br/>
    <a href="{{ path('app_add_note', { id : customer.id }) }}">Add note</a>
    <h1>Task</h1>
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>
                    <p><b>{{ task.date|date('Y-m-d') }}</b> - {{ task.text }}</p>
                    <a href="#" class="btn btn-danger delete-task" data-id="{{ task.id }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Any task</p>
    {% endif %}
    <br/>
    <a href="{{ path('app_add_task', { id : customer.id }) }}">Add task</a>
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}