{% extends 'baseLogged.html.twig' %}

{% block title %}My account{% endblock %}

{% block body %}
    <div class="mb-3">
        You are logged in as {{ app.user.username }}
    </div>
    <div>
        <div>
            <h1>Customers</h1>
            <a href="{{ path('app_create_customer') }}">Create new</a>
            {% if customers %}
                <ul>
                    {% for customer in customers %}
                        <li><a href="{{ path('app_customer', { id : customer.id }) }}">{{ customer.name }} {{ customer.firstName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Any customer</p>
            {% endif %}
        </div>
        <div>
            <h1>Tasks</h1>
            {% if tasks %}
                <ul>
                    {% for task in tasks %}
                        <li><p>{{ task.text }}</p></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Any task</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
